@model IEnumerable<VintageVinyl.Models.AssociationTable>

@{
    ViewBag.Title = "Test";
}

<h2> This is the base inventory view Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Sort By something , "Sort by") 

</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Cosignors.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Albums.Artist)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSold)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cosignors.FirstName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Albums.Artist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSold)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemNum }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemNum }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemNum })
        </td>
    </tr>
}

</table>
