@model VintageVinyl.Models.AssociationTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssociationTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Albums.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Albums.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CosignerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CosignerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSold)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemNum }) |
    @Html.ActionLink("Back to List", "Index")
</p>
